@inject RequestHandler chatClient
@inject ILocalStorageService localStorage

<h4>Create Private Chat</h4>

<br />

<EditForm Model="chat" OnSubmit="CreateChat">
    <div class="form-group" style="margin-bottom: 20px;">
        <label for="user"><h5>Companion Username: </h5></label><br/>
        <InputText id="user" class="form-controll" @bind-Value="chat.CompanionName" />
        <button class="btn btn-primary mx-2" type="submit">Create</button>
    </div> 
</EditForm>

@code {
    CreateChatDTO chat = new();

    private async void CreateChat()
    {
        chat.ChatName = chat.UserName + " " + chat.CompanionName;
        chat.Type = ChatState.Private;
        
        var response = chatClient.CreateChat(chat);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var userName = await localStorage.GetItemAsStringAsync("UserName");
        userName = userName.Trim('"');

        chat.UserName = userName;
    }
}