@inherits LayoutComponentBase

<PageTitle>ReenbitChatAppBlazorServer.PL</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            This chat app was made like a test pet project by <a href="https://www.linkedin.com/in/daniil-khutorianskyi-2a20b2223/">Khotrianskyi Daniil</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>