@inherits BaseAuth
@page "/home"

@inject NavigationManager NavigationManager
@inject RequestHandler RequestHelper

<PageTitle>Home</PageTitle>

@if (_status is AuthState.NotSet)
{
    <LoadingComponent />
}

@if (_status is AuthState.Authed)
{
    <h1>Welcome to Chat!</h1>
    <br/>
    <strong>This chat app was made like a test pet project by <a href="https://www.linkedin.com/in/daniil-khutorianskyi-2a20b2223/">Khotrianskyi Daniil</a></strong>
}

@code {
    AuthState _status = AuthState.NotSet;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            UserAccessVerification(await RequestHelper.GetAuthAsync("Test/"), () =>
            {
                _status = AuthState.Authed;
                StateHasChanged();
            });
        }
    }
}