@inherits BaseAuth
@page "/"

<PageTitle>Home</PageTitle>

@inject NavigationManager NavigationManager
@inject RequestHandler RequestHelper

<PageTitle>Greetings</PageTitle>

<h1>Welcome to Chat!</h1>
<br/>
<strong>Registrate or login to chat with all world</strong>

@code{
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            UserAccessVerification(await RequestHelper.GetAuthAsync("Login/GetAuthorize/"), () =>
            {
                NavigationManager.NavigateTo("/home");
            });
        }
    }
}