@page "/login"

@inject NavigationManager NavManager
@inject IHttpClientFactory HttpClientFactory
@inject ILocalStorageHandler LocalStorageHelper

<h3>Log in, please</h3>

<EditForm Model="_user" OnSubmit="HandleLogin">
    <div class="form-group" style="padding-bottom: 20px;">
        <label for="login">Your Login</label>
        <InputText id="login" class="form-controll" @bind-Value="_user.UserName"/>
    </div>
    <div class="form-group" style="padding-bottom: 20px;">
        <label for="password">Password</label>
        <InputText id="password" class="form-controll" @bind-Value="_user.Password" type="password"/>
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
</EditForm>

@if (_loading)
{
    <LoadingComponent />
}

@if (_invalidLogin)
{
    <br/><strong>Invalid data</strong>
}

@code
{
    private LoginDTO _user = new();
    private bool _loading;
    private bool _invalidLogin;

    private async void HandleLogin()
    {
        _invalidLogin = false;
        _loading = true;
        StateHasChanged();
        
        var client = HttpClientFactory.CreateClient("BaseClient");
        var response = await client.PostAsJsonAsync("Login/login", _user);

        _loading = false;
        StateHasChanged();
        
        if (!response.IsSuccessStatusCode)
        {
            _invalidLogin = true;
            StateHasChanged();
            return;
        }

        await LocalStorageHelper.LoginAsync(response, _user.UserName);
        
        NavManager.NavigateTo("/", forceLoad: true);
    }
}